
.navbar-brand img{
  height: 30px;
  width: auto;
}
.navbar{
  background-color: #fff;
}
/*---------------LANDING PAGE SECTION STYLING-----------------------*/
h1 {
  text-align: center;
}
section {
  height: auto;
}
.title {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.title:after {
  content: ' ';
  position: absolute;
  bottom: -20px;
  width: 30%;
  border-bottom: 1px solid black;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 15px 0;
}
p {
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
p strong {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  p {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.image-wrapper {
  overflow: hidden;
  width: 100%;
}
.triangle_img {
  display: block;
  margin: 0 auto;
  max-height: 300px;
  padding-top: 40px;
}
/*---------------CALCULATION SECTION STYLING-----------------------*/
#calculate {
  padding-top: 70px;
}
#calculate title {
  padding-top: 25px;
}
#calculate .row {
  margin-bottom: 25px;
}
#calculate .instructions, .image-wrapper {
  margin-top: 30px;
}

#calculate {
  height: auto;
}
.calcSection {
  margin-top: 50px;
  font-size: 12px;
  line-height: 20px;
}
#calculate .triangle_img{
width: 80%;
opacity: 0.8;
padding-top: 40px;
}
/*------------------------------*/
.jumbotron p {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #222;
}
/*--------RESULTS------------*/
#output {
  margin-bottom: 50px;
}
#output .title:after {
  content: ' ';
  position: absolute;
  bottom: -20px;
  width: 10%;
  border-bottom: 1px solid black;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 15px 0;
}
